.doorHandle {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 147px 356px;

  &__image_block {
    background-image: url("../../../assets/images/slider/slider2.jpg");
    background-size: cover;
    background-position: center center;
    grid-area: 1/1/3/1;
  }

  &__title_block {
    display: flex;
    align-items: flex-end;
    padding: 0 0 30px 59px;
    border-bottom: 1px solid var(--gray);
  }

  &__descr_block {
    padding: 54px 54px 0 113px;
    max-width: 758px;
    display: flex;
    flex-direction: column;
    gap: 21px;

  }

  &__advantages_block {
    grid-area: 3/1/4/3;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    border-top: 1px solid var(--gray);

    li {
      padding: 75px var(--offset);
      &:not(:last-child){
        border-right: 1px solid var(--gray);
      }

      h5 {
        margin-bottom: 25px;
      }
    }
  }
}