.sort {
  padding: 33px var(--offset);

  > .sort__header {
    border-bottom: 1px solid var(--light-gray);
    padding-bottom: 10px;
  }

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 16px;
  }

  &__type {
    button {
      display: flex;
      svg {
        transform: rotate(90deg);
      }
    }
  }

  &__btn {
    font-size: 12px;
    line-height: 150%;
    color: var(--light-gray);

    &:hover {
      color: var(--gray);
    }
  }
}